@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
    color: white;
    background-color: black;
    font-family: 'ABeeZee';
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
    font-size: 3em;
    width: 15em;
    height: 7em;
}

#explanation-div {
    text-align: center;
    font-size: 1.5em;
    width: 55rem;
}

#answer1 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 217, 0);
    width: 50rem;
}

#answer2 {
    text-align: center;
    font-size: 1.5em;
    color: red;
    width: 54rem;
}

#login {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
    justify-content: space-around;
    width: 25em;
    height: 10em;
    margin: 1.5em;
}

.inputs {
    font-size: 1.3em;
    border-radius: 1em;
    height: 1.3em;
}

.inputs:focus {
    outline: none;
}

.inputs::selection {
    background: rgb(171, 8, 8);
    color: black;
}

#login-button {
    font-size: 1.5em;
    background-color: white;
    border: none;
    border-radius: 2em;
    height: 1.5em;
    width: 7em;
}

#login-button:hover {
    background-color: orange;
}