{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<div id="signup-page">
    <h1>Create your account</h1>


<form method="POST" action="signup" id="signup-form"> 
    <label>username</label>
    <input type="text" class="inputs"/>
    <label>email</label>
    <input type="text" class="inputs"/>
    <label>password</label>
    <input type="text" class="inputs"/>
    <label>confirm password</label>
    <input type="text" class="inputs"/>
    <button type="submit" class="login-button">login</button>
</form>
</div>
